css lol


@-webkit-keyframes pulse_bg {
  0% {background-color: red;}
  10% {background-color: purple;}
  25% {background-color: green;}
  45% {background-color: yellow;}
  70% {background-color: blue;}
  85% {background-color: aqua;}
  100% {background-color: orange;}
}

@-moz-keyframes pulse_bg {
  0% {background-color: red;}
  10% {background-color: purple;}
  25% {background-color: green;}
  45% {background-color: yellow;}
  70% {background-color: blue;}
  85% {background-color: aqua;}
  100% {background-color: orange;}
}

@-o-keyframes pulse_bg {
  0% {background-color: red;}
  10% {background-color: purple;}
  25% {background-color: green;}
  45% {background-color: yellow;}
  70% {background-color: blue;}
  85% {background-color: aqua;}
  100% {background-color: orange;}
}

@keyframes pulse_bg {
  0% {background-color: red;}
  10% {background-color: purple;}
  25% {background-color: green;}
  45% {background-color: yellow;}
  70% {background-color: blue;}
  85% {background-color: aqua;}
  100% {background-color: orange;}
}

body {
  background: linear-gradient(rgba(255,210,255,0.12)  0%, rgba(210,255,255,0.3)  100%);
  opacity: 0.9;
}

.lossless {
}

h1, h2, h3, h4, h5, h6 {
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue";
  margin: 20px 30px;
}


.robin {
	color:#cb81fa;
  font-family: 'Astloch', cursive;
}

.rkss {
  color: #fabd15;
  font-family: 'Rakkas', cursive;
}

.loss {
	color: #4ae563;
  font-family: 'Germania One', cursive;
}

.jkwd {
	color: #ff81ff;
  font-family: 'UnifrakturCook', cursive;
}

a:link {
 	text-decoration: none;
  color: currentColor;
}

a:visited {
	color: currentColor;
}

a:hover {
	-webkit-animation: pulse_bg 0.75s infinite;
	-moz-animation: pulse_bg 0.75s infinite;
	-o-transition: pulse_bg 0.75s infinite;
	transition: pulse_bg 0.75s infinite;
  text-decoration: underline;
}

div {
  border: 5px dotted pink;
}

img {
  width: 100%;
}

#currently {
  position: fixed;
  top: 40px;
  right: 80px;
  width: 290px;
  padding: 10px;
  text-align: right;
  margin: 25px;
}

#projects {
  position: fixed;
  top: 330px;
  right: 80px;
  width: 210px;
  padding: 10px;
  margin: 25px;
  text-align: right;
}

#about {
  position: fixed;
  top: 600px;
  width: 110px;
  padding: 1px;
  margin: 25px;
  right: 80px;
  text-align: right;
}

#aboutpara {
  display: none;
  position: fixed;
  width: 350px;
  margin-top: 45px;
  right: 450px;
}

#about:hover + #aboutpara, #about:active + #aboutpara {
  display: block;
}

p.#about {
  margin: 0px;
}

#cv {
  position: absolute;
  width: 80px;
  height: 50px;
  padding: 1px;
  margin-top: 1800px;
  margin-left: 800px;
}
